@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  
    
  }
  
  @media only screen and (min-width: 600px) {
    .container {
      width: 95%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container {
      width: 70%;
    }
  }

body{
    background-image: url("img/background/photo-1460134583608-5f5d1dd1d61c.jpeg");
    background-size: cover;
    background-position: center;
    height: 50%;
}
.jumbotron{
    margin-top: 20px;
}
.hero img{
  width: 200px
}
.hero h1{
    text-align: right;
    padding-left:250px;
    margin-top: -100px;
}
.hero p{
    text-align: center;
    padding-left:250px;
    font-size: 25px;
}
.page-header{
    text-align: center;
    padding-left: 300px;
    margin-top: -70px;
}
.contacts{
    margin: 5px;
    padding-left:35px;
}
#forms label{
    font-size: 24px;
    padding-top: -100px

}
#form{
    border: 1px solid;
    height: 40px;
    display: block;
    width: 300px;
    background-color: transparent;

}
.submit-btn{
    margin-top: 60px;
    margin-left: 340px;
   
}
.submit-btn2{
    margin-top: 60px;
    margin-left: 340px;
    display:none;
}

#customized-pizza select{
   width: 250px;
   padding: 20px;
   background-color: transparent;
}
#customize-pizza option{
    background-color: rgb(236, 220, 126);

}
.form-group{
    width: 800px;

}
.form-option{
    padding: 20px;
}
.table{
    width: 100%;
    margin-top: 50px;
    
}
#order-content{
  margin-top: 120px;
  margin-right: 200px
}
#order-content h3{
  text-align: center;
  padding-right: 260px;
  padding-top: -150px;
}
.type{
  background: transparent;
}
#customized-pizza p{
    font-size: 15px;
    font-style: oblique;
    padding-left: 50px;
    background: transparent
}
#reload{
    text-align: right;
    margin-left: 400px;
}
#place-order{
    margin-top: 50px;
}
.order{
  display:none;
}